.navbar{
  height: 50px;
  background-color: rgba(102, 16, 83, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.list{
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem{
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.home{
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: -2px 1px 12px 8px rgba(0,0,0,0.12); 
box-shadow: -2px 1px 12px 8px rgba(0,0,0,0.12);
margin-top: 10px;
margin-bottom: 10px;
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 20px 0px;
}

.desc{
  color:  #333;
  margin-bottom: 2px;
  line-height: 25px;
}

.cardButton{
  border: none;
  border-radius: 10px;
  color: rgba(102, 16, 83, 0.6);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.postDesc{
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color:#333;
  margin-top: 50px;
}

.postLongDesc{
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}

.prijaviSe{
  margin: 20px;
  border: none;
  border-radius: 10px;
  color: rgba(102, 16, 83, 0.6);
  padding: 15px;
  margin-bottom: 50px;
  font-weight: bold;
  cursor: pointer;
}

.adminButton{
  margin: 20px;
  border: none;
  border-radius: 10px;
  color: rgba(102, 16, 83, 0.6);
  padding: 15px;
  margin-bottom: 50px;
  font-weight: bold;
  cursor: pointer;
}

.login{
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 35%;
  height: 70%;
  -webkit-box-shadow: -2px 1px 12px 8px rgba(0,0,0,0.12); 
  box-shadow: -2px 1px 12px 8px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.center{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit{
  width: 200px;
  background-color: rgba(102, 16, 83, 0.6);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle{
  position: absolute;
  top:  150px;
  color: lightgray;
}

.link{
  color: inherit;
  text-decoration: none;
}

.register{
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerTitle{
  position: absolute;
  top:  150px;
  color: lightgray;
}

/*komentari*/


.commentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commentItem {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.commentTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.commentButton{
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: rgba(102, 16, 83, 0.6);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 30px;
}

.commentsSection {
  width: 50%;
  height: 100%;
  -webkit-box-shadow: -2px 1px 12px 8px rgba(0, 0, 0, 0.12);
  box-shadow: -2px 1px 12px 8px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}


/*prijave*/

.prijave {
  padding: 20px;
}

.travel-list-title {
  font-size: 24px;
  color: rgba(102, 16, 83, 0.6);
}

.travel-list {
  list-style: none;
  padding: 0;
}

.travel-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(102, 16, 83, 0.6);
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel-item:hover {
  background-color: rgba(102, 16, 83, 0.1);
  cursor: pointer;
}

/*WRITE*/

.write{
  margin-top: 20px;
  margin: 20px;
  display: flex;
  gap: 20px;
}

.content{
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input{
  padding: 10px;
  border: 1px solid lightgray;
}

.menu{
  flex:2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editorContainer{
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgrey;
}

.editor{
  height: 100%;
  border: none;
}

.item{
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #333;

  h1{
    font-size: 20px;
  }

  .file{
    text-decoration: underline;
    cursor: pointer;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }

}

.save{
  cursor: pointer;
  color: rgba(102, 16, 83, 0.6);
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px rgba(102, 16, 83, 0.6);
  padding: 3px 5px;
}

.update{
  cursor: pointer;
  color:#f5f5f5 ;
  background-color: rgba(102, 16, 83, 0.6);
  border-radius: 5px;
  border: 1px #f5f5f5;
  padding: 3px 5px;
}

.cat {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 1px solid rgba(102, 16, 83, 0.6);
  border-radius: 4px;
  color: rgba(102, 16, 83, 0.6);
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.cat label {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}
